ConfigParser==5.2.0
cx_Freeze==6.10
FastMBAR==0.1.0
gemmi==0.5.2
matplotlib==3.2.2
mdtraj==1.9.7
networkx==2.4
numpy==1.18.5
openmm==0.2
pandas==1.0.5
plotly==5.6.0
py2exe==0.11.1.0
pymbar==3.0.5
pytest==5.4.3
PyYAML==6.0
ruamel_yaml==0.17.21
scipy==1.5.0
setuptools==49.2.0.post20200714
typing_extensions==3.7.4.2
